[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-marshmallow = "*"
flask-cors = "*"
marshmallow-sqlalchemy = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
